{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div></div>
<div></div>
<div></div>
<body>
    <form class=" " style="margin-top: 40px;" novalidate method="post" action="{% url 'users:signup' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="">
                <div class="">
                    <div class="">
<!--                        <label for="username">用户名</label>-->
                        {{form.username}}
                    </div>
                </div>
                <div class="">
                    <div class="">
<!--                        <label for="password1">密码</label>-->
                        {{form.password1}}
                    </div>
                </div>
                <div class="">
                    <div class="">
<!--                        <label for="password2">确认密码</label>-->
                        {{form.password2}}
                    </div>
                </div>
                <button class="" type="submit">注册</button>

            </div>



<!--         {% if form.errors %}-->

<!--        <div class="alert alert-danger" role="alert" style="padding:0px;margin-top:10px" >-->

<!--            <ul class="list list-unstyled" style="padding:5px;" >-->


<!--                {% for field in form %}-->

<!--                {% for error in field.errors %}-->

<!--                <li class="item">{{ error|escape }}</li>-->

<!--                {% endfor %}-->

<!--                {% endfor %}-->

<!--                {% for error in form.non_field_errors %}-->

<!--                <li class="item">{{ error|escape }}</li>-->

<!--                {% endfor %}-->

<!--            </ul>-->

<!--        </div>-->
<!--        {% endif %}-->
    </form>
{% endblock %}

