{% extends 'base/base.html' %}
{% load video_tag %}
{% load static %}
{% load thumbnail %}


{% block content %}

<p style="padding-top: 40px; min-height: 600px;">
    The SAG-AFTRA Foundation’s Daytime Emmy®-nominated and award-winning children’s literacy website,
    Storyline Online®, streams videos featuring celebrated actors reading children’s books alongside creatively
    produced illustrations. Readers include Oprah Winfrey, Chris Pine, Kristen Bell, Rita Moreno, Viola Davis,
    Jaime Camil, Kevin Costner, Lily Tomlin, Sarah Silverman, Betty White, Wanda Sykes and dozens more. </p>

<p>Storyline Online receives over 140 million views annually from children all over the world.

Reading aloud to children has been shown to improve reading, writing and communication skills,
    logical thinking and concentration, and general academic aptitude, as well as inspire a lifelong
    love of reading. Teachers use Storyline Online in their classrooms, and doctors and nurses play
    Storyline Online in children’s hospitals.</p>


{% endblock %}