{% load video_tag %}
{% load static %}
{% load thumbnail %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/rights.css' %}">
{% endblock css %}


<h3 class="Newest">最新视频:</h3>



{% get_recent_entries as recent_entry_list %}

{% for entry in recent_entry_list %}


<div class="clearfix">


        <div class="nav-content" style="float: left; margin-left: 20px;">

            <a class="image" href="{% url 'video:detail' entry.pk %}">
            {% thumbnail entry.cover "300x200" crop="center" as im %}
                <img class="ui image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}

            </a>

            <div class="titles">
                <a class="header" href="{% url 'video:detail' entry.pk %}">{{ entry.title }}</a>
            </div>
        </div>




    {% empty %}
    <h3>暂无数据</h3>
    {% endfor %}

</div>



<br/>

<h3 class="Recommended"  >推荐视频</h3>

{% get_popular_entries as popular_entry_list %}

{% for entry in popular_entry_list %}

<div class="" >
    <div class="nav-content">
        <div class="rec-content" style="margin-left: 20px;">
            <a class="image" href="{% url 'video:detail' entry.pk %}">
                {% thumbnail entry.cover "300x200" crop="center" as im %}
                <img class="image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}

            </a>
            <div class="titles">
                <a class="header" href="{% url 'video:detail' entry.pk %}">{{ entry.title }}</a>
            <div class="description">
                {{ entry.view_count}}次观看
            </div>
        </div>
    </div>
</div>
{% empty %}
<h3>暂无数据</h3>
{% endfor %}
 </div>


